
    {{>navbar}}
    {{sendMailFeedback}}

    <div class="container cont-form centrar-container">
        <form class="formulario row mb-3" name="formulario" method="POST" action="/contacto">
            <h3 class="cont-title">Contáctanos</h2>
<div class="mb">

            <label class="form-label" for="name"></label>
            <input class="form-control" placeholder="Nombre" type="text" name="name" maxlength="15" autofocus value="{{formData.name}}">
{{#if nameError}}
            <div class="group-error">
            <i class="fa-solid fa-circle-xmark"></i>
            <p class="error-form">{{nameError.msg}}</p>
            </div>
            {{/if}}
</div>
        
    <div class="mb">

            <label class="form-label" for="email"></label>
            <input class="form-control" name="email" placeholder="Email" type="text" autofocus value="{{formData.email}}">
   {{#if emailError}}
            <div class="group-error">
            <i class="fa-solid fa-circle-xmark"></i>
            <p class="error-form">{{emailError.msg}}</p>
            </div>
            {{/if}}
    </div>    
        <div class="mb">

            <label class="form-label" for="consulta"></label>
            <textarea class="form-control" placeholder="Ingrese su consulta aquí" type="text" name="consulta" maxlength="300" cols="50" rows="6">{{formData.consulta}}</textarea>
       {{#if consultaError}}
            <div class="group-error">
            <i class="fa-solid fa-circle-xmark"></i>
            <p class="error-form">{{consultaError.msg}}</p>
            </div>
            {{/if}}
        </div>
        <div class="cnt">

            <button class="btn btn-primary" type="submit">Enviar</button>
        </div>

       
    
    </form>
</div>
    {{>footer}}

