{{>navbar}}
    <div class="container cont-form centrar-container">

    
        <form class="formulario row mb-3" action="/usuarios/settings" method="POST">
    <h3>Información de la cuenta</h2>
    <p>Última modificación: {{usr.updatedAt}}</p>
    {{#if usr.validEmail}}
    <p>Su cuenta ha sido verificada</p>
    {{else}}
    <p>Su cuenta no ha sido verificada</p>
    {{/if}}
            <div class="mb">
            <label class="form-label" for="name"></label>
            <input class="form-control" name = "name" type="text" autocomplete="name" value="{{usr.name}}">
            </div>
        
            <div class="mb">
            <label class="form-label" for="lastName"></label>
            <input class="form-control" name = "lastName" type="text" autocomplete="additional-name" value="{{usr.lastName}}">
            </div>
        
            <div class="mb">
            <label class="form-label" for="email"></label>
            <input class="form-control" name = "email" type="text" autocomplete="email" value="{{usr.email}}">
            </div>
        
            <div class="mb">
            <label class="form-label" for="password"></label>
            <input class="form-control" name = "password" type="password" autocomplete="current-password" placeholder="Contraseña">
            </div>

            {{#if message}}
            <div>
            {{message}}
            </div>
            {{/if}}
            <div class="cnt">
            <input class="btn btn-primary" type="submit" value="Confirmar cambios">
        <a href="/usuarios/deleteUser"><input class="btn btn-warning" type="button" value="Borrar cuenta"></a>
        </div>
        <div class="cnt">

        <a href="/">Volver al inicio</a>
        </div>
    </form>
    <div>

    

        